.add-product-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: white;
}

.input-field {
    width: calc(100% - 20px);
    padding: 8px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 14px;
}

.category-input {
    width: 100%;
    padding: 8px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 14px;
}

.file-input {
    margin-top: 10px;
}

.submit-button {
    margin-top: 20px;
    padding: 10px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-size: 16px;
}

#imagePreview {
    margin-top: 20px;
}

#imagePathText {
    font-size: 14px;
    margin-bottom: 10px;
}

#imagePreview img {
    max-width: 100%;
    height: auto;
    display: block;
    margin-top: 10px;
}